venv\
/.idea/
/venv/
/alcu.db
/__pycache__/__init__.cpython-36.pyc
/__pycache__/application.cpython-36.pyc
/__pycache__/config.cpython-36.pyc
/__pycache__/database.cpython-36.pyc
/__pycache__/return_status.cpython-36.pyc
/__pycache__/send_message.cpython-36.pyc
/__pycache__/shared.cpython-36.pyc
/__pycache__/test_alcu.cpython-36-PYTEST.pyc
routes/__pycache__/messages.cpython-37.pyc
routes/__pycache__/channel.cpython-37.pyc
models/__pycache__/device.cpython-37.pyc
models/__pycache__/__init__.cpython-37.pyc
__pycache__/database.cpython-37.pyc
__pycache__/config.cpython-37.pyc
routes/__pycache__/subscription.cpython-37.pyc
routes/__pycache__/register.cpython-37.pyc
models/__pycache__/messages.cpython-37.pyc
__pycache__/send_message.cpython-37.pyc
routes/__pycache__/__init__.cpython-37.pyc
models/__pycache__/subscription.cpython-37.pyc
__pycache__/shared.cpython-37.pyc
__pycache__/return_status.cpython-37.pyc
models/__pycache__/message_queue.cpython-37.pyc
models/__pycache__/channel.cpython-37.pyc
